%header{
    font-size: var(--font-size-xl); 
    line-height: 0;
    font-weight: 700;
}
%subheader{
    font-size: var(--font-size-l); 
    line-height: 0;
    font-weight: 600;
}
%regular{
    font-size: var(--font-size-m); 
    line-height: 21px;
    font-weight: 400;
}
